.header__subtitle {
  width: 42%;
  min-width: 446px;
  height: 48px;
  margin: 32px auto 0;

  font-family:'Roboto';
  font-weight: normal;
  color: #ffffff;
  font-size: 1.125em;
  line-height: 24px;
}

@media screen and (max-width : 768px) {
.header__subtitle {
    width: 58%;
    height: 72px;
    margin: 16px auto 0;

    font-size: 1.125em;
    line-height: 24px;
  }
}

@media screen and (max-width : 500px) {
.header__subtitle {
    min-width: 89%;
    height: 72px;
    margin: 16px auto 0;

    font-size: 1.125em;
    line-height: 24px;
  }
}

@media screen and (max-width : 320px) {
/* стили для малого смартфона */
.header__subtitle {
    min-width: 288px;
    height: 130px;
    margin: 56px auto 0;

    font-size: 1.25em;
    line-height: 26px;
  }
}