.additional__card_overview {
    position: absolute;
    left: 18px;
    bottom: 25px;
    width: 248px;
    margin: 0 auto;
    z-index: 2;
    line-height: 20px;
    font-size: 14px;

    font-family: Inter;
    font-style: normal;
}


@media screen and (max-width : 1280px) and (min-width : 1024px) {
    /* стили для нетбуков */
    .additional__card_overview {
        left: 6%;
        bottom: 7%;
        width: 90%;
    }
}

@media screen and (max-width : 1023px) and (min-width : 900px) {
    .additional__card_overview {
        bottom: 5%;
        width: 90%;
        font-size: 18px;
    }
}

@media screen and (max-width : 901px) and (min-width : 769px) {
    .additional__card_overview {
        bottom: 20%;
        width: 90%;
        font-size: 14px;
    }
}

@media screen and (max-width : 767px) and (min-width : 490px) {
    .additional__card_overview {
        left: 10%;
        bottom: 10%;
        width: 80%;
        line-height: 23px;
        font-size: 20px;
    }
}

@media screen and (max-width : 489px) and (min-width : 376px) {
    .additional__card_overview {
        left: 10%;
        bottom: 55px;
        width: 80%;
        line-height: 20px;
        font-size: 14px;
    }
}