@import url('_display-none/preloader__current-status_display-none.css');

.preloader__current-status {
  margin: 0 auto ;
  max-width: 572px;
  text-align: center;
  line-height: 24px;

  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.125em;
  color: #B6BCBF;
}
