@import url('places-title/places-title.css');
@import url('places-url/places-url.css');
@import url('places-picture/places-picture.css');
@import url('places-article/places-article.css');

.places__container {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 81px;
}

.places__container:first-child  {
    margin: 0;
}


@media screen and (max-width : 1024px) and (min-width : 1001px) {
    .places__container:nth-child(2) {
        margin-top: 90px;
    }

    .places__container:nth-child(3) {
        margin-top: 95px;
    }

    .places__container:nth-child(4) {
        margin-top: 82px;
    }

    .places__container:nth-child(5) {
        margin-top: 85px;
    }
}

@media screen and (max-width : 768px) and  (min-width : 376px) {
    .places__container:nth-child(2) {
        margin-top: 75px;
    }

    .places__container:nth-child(3) {
        margin-top: 80px;
    }

    .places__container:nth-child(4) {
        margin-top: 78px;
    }

    .places__container:nth-child(5) {
        margin-top: 72px;
    }
}

@media screen and (max-width : 375px) {
    /* стили для среднего смартфона */
    .places__container {
        margin-top: 58px;
    }

    .places__container:nth-child(5) {
        margin-top: 75px;
    }
}

@media screen and (max-width : 320px) {
    /* стили для малого смартфона */
    .places__container:nth-child(5) {
        margin-top: 60px;
    }
}