.commit-history__slider {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  position: relative;
}

@media screen and (max-width : 990px) {
.commit-history__slider {
    margin-left: 7%;
  }
}

@media screen and (max-width : 768px) {
  .commit-history__slider {
      margin-left: 5%;
    }
  }