@import url('__developer-photo/comment-card__developer-photo.css');
@import url('__commentator-name/comment-card__commentator-name.css');
@import url('__commentator-email/comment-card__commentator-email.css');

.commentator-container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  height: 64px;
  margin: 16px auto;
}

@media screen and (max-width : 768px) {
.commentator-container {
    height: 52px;
  }
}

@media screen and (max-width : 435px) {
.commentator-container {
    margin: 8px auto 16px;
  }
}