@import url('_display-none/preloader__circle_display-none.css');

.preloader__circle {
	width: 74px;
	height: 74px;
	border-radius: 50%;
	background: url(../../../images/preloader/searching_ellipse.png) no-repeat;
	background-size: cover;
	margin: 0px auto 24px;

	animation: spin 0.75s infinite linear;
	animation-direction: reverse;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}