.cards__cell-heading {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 1.625em;
  color: #1A1B22;
  line-height: 30px;

  width: 88%;
  margin: 0 auto;
  text-overflow: ellipsis;
}

@media screen and (max-width : 768px) {
.cards__cell-heading {
    width: 86%;

    font-size: 	1.4em;
    line-height: 24px;
  }
}

@media screen and (max-width : 320px) {
/* стили для малого смартфона */
.cards__cell-heading {
    width: 89%;
    margin: 0 auto;
    line-height: 26px;
  }
}