.cards__cell-news-source {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 1em;
  color: #B6BCBF;
  text-transform: uppercase;

  width: 88%;
  margin: 0;

  position: absolute;
  bottom: 24px;
  left: 6%;
}

@media screen and (max-width : 768px) {
.cards__cell-news-source {
    width: 86%;

    bottom: 16px;
    left: 7%;
  }
}

@media screen and (max-width : 320px) {
/* стили для малого смартфона */
.cards__cell-news-source {
    width: 89%;
    left: 5%;
  }
}