.cover__description {
    position: absolute;
    bottom: 40px;
    left: 36.8%;
    width: 382px;
    text-align: center;
    line-height: 26px;
    font-size: 18px;
    color: #ffffff;
    margin: 0 auto;
    
    font-family: 'Inter';
    font-style: normal;
}

@media screen and (max-width : 1280px) {
    /* стили для ноутбука */
    .cover__description {
        left: 35%;
    }
}

@media screen and (max-width : 1024px) {
    /* стили для нетбука */
    .cover__description {
        left: 32%;
        bottom: 7%;
    }
}

@media screen and (max-width : 900px) {
    .cover__description {
        left: 27%;
        bottom: 7.7%;
    }
}

@media screen and (max-width : 768px) {
    /* стили для планшета */
    .cover__description {
        left: 25%;
        bottom: 8.4%;
        width: 50%
    }
}

@media screen and (max-width : 708px) {
    .cover__description {
        left: 15%;
        bottom: 10%;
        width: 70%
    }
}

@media screen and (max-width : 500px) {
    .cover__description {
        bottom: 15%;
        line-height: 17px;
        font-size: 14px;
    }

    .cover__description span{
        white-space: nowrap;
    }
}

@media screen and (max-width : 375px) {
    .cover__description {
        left: 10%;
        bottom: 11%;
        width: 80%;
    }
}

@media screen and (max-width : 360px) {
    .cover__description {
        width: 90%;
        left: 5%;
        bottom: 10%;
    }
}
