@import url('../__slide/glide__slide.css');

.glide__slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-width: 2064px;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;

  transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transform: translate3d(-431.25px, 0px, 0px);
}

/* @media screen and (max-width : 768px) {
.glide__slides {
  }
}

@media screen and (max-width : 435px) {
.glide__slides {
    min-width: 1480px;
  }
} */
