@import url('__image/used-technologies__image.css');

.used-technologies__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  margin-right: 7%;
}

@media screen and (max-width : 1150px) {
.used-technologies__container {
    align-self: flex-end;
    width: 672px;
    margin-left: 7%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width : 768px) {
.used-technologies__container {
    width: 90%;
    margin: 0 5% 40px;
  }
}

@media screen and (max-width : 535px) {
.used-technologies__container {
    flex-flow: row wrap;
    width: 85%;
    margin: 0 7.5% 40px;
    min-width: 272px;
  }
}
