.cards__cell-image {
  border-radius: 15px 15px 0 0;
  width: 100%;
  max-height: 47%;
}

@media screen and (max-width : 845px) {
.cards__cell-image {
    display: block;
    max-width: 100%;
    max-height: 35%;
  }
}


@media screen and (max-width : 768px) {
.cards__cell-image {
    min-height: 36%;
  }
}

@media screen and (max-width : 760px) {
.cards__cell-image {
    min-height: 47%;
  }
}

@media screen and (max-width : 500px) {
.cards__cell-image {
    min-height: 44%;
  }
}