@import url('../__photo/slider__photo.css');
@import url('../__name/slider__name.css');
@import url('../__email/slider__email.css');

.slider__commentator {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  height: 64px;
  margin: 16px auto;

  overflow: hidden;
}

@media screen and (max-width : 990px) {
.slider__commentator {
    height: 52px;
  }
}

@media screen and (max-width : 435px) {
.slider__commentator {
    margin: 8px auto 16px;
  }
}