.video__duration-time {
    position: absolute;
    bottom: 145px;
    line-height: 13px;
    font-size: 12px;
    letter-spacing: 0.3em;
    margin: 0 32px;
    z-index: 4;
    
    font-family: 'Inter';
    font-style: medium;
}


@media screen and (max-width : 1024px) {
    /* стили для нетбуков*/
    .video__duration-time {
        bottom: 150px;
        margin: 0 30px;
    }
}

@media screen and (max-width : 768px) {
    /* стили для планшета */
    .video__duration-time {
        bottom: 82px;
        margin: 0 24px;
    }
}

@media screen and (max-width : 767px) {
    /* стили для планшета */
    .video__duration-time {
        bottom: 49.5%;
        margin: 0 24px;
    }
}

@media screen and (max-width : 375px) {
    .video__duration-time {
        top: 108px;
        margin: 0 24px;
    }
}

@media screen and (max-width : 320px) {
    .video__duration-time {
        margin: 0 16px;
    }
}