.barentsburg__map {
    width: (1184/1440*100%);
    height: 464px;
}


@media screen and (max-width : 1183px) and (min-width : 1025px) {
    .barentsburg__map {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width : 1024px) {
    /* стили для нетбуков */
    .barentsburg__map {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width : 375px) {
    /* стили для среднего смартфона */
    .barentsburg__map {
        position: relative;
        right: 16px;
        width: 100vw;
    }
}

