.slider__quote {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1em;
  color:  #1A1B22;
  line-height: 22px;
  margin: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;

}

.slider__quote span {
  border: 1px solid #D1D2D6;
  background-color:#F5F6F7;
  box-sizing: border-box;
  padding: 0 5px;
}

@media screen and (max-width : 990px) {
.slider__quote {
  -webkit-line-clamp: 4;
  }
}

@media screen and (max-width : 435px) {
.slider__quote {
  -webkit-line-clamp: 6;
  }
}