

@media screen and (max-width : 1024px) {
    /* стили для нетбуков */
    .photos-grid__item {
        width: 32.2%;
        height: 23.7%;
    }
}

@media screen and (max-width : 1000px) {
    /* стили для планшета */
    .photos-grid__item {
        width: 49%;
        max-height: 15.8%;
    }
}

@media screen and (max-width : 600px) {
    .photos-grid__item {
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 5%;
    }
}

@media screen and (max-width : 375px) {
    /* стили для среднего и малого смартфона */
    .photos-grid__item {
        position: relative;
        width: 100%;
        height: 232px;
        margin-top: 16px;
    }
}

@media screen and (max-width : 320px) {
    /* стили для малого смартфона */
    .photos-grid__item {
        height: 100%;
        margin-top: 9.5px
    }
}