.additional__card_picture {
    position: absolute;
    width: 100%;
    border-radius: 10px;
}


@media screen and (max-width : 375px) {
    /* стили для среднего и малого смартфона */
    .additional__card_picture {
        width: 284px;
        height: 330px;
    }
}
