@import url('visually-hidden.css');
@import url('__cell/search-table__cell.css');
@import url('__cell-hidden/search-table__cell-hidden.css');


.search-table {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: space-between;
  width: 86%;
  margin: 0 auto;
}

@media screen and (max-width : 768px) {
.search-table {
    width: 90%;
    margin: 22px auto 0;
  }
}

@media screen and (max-width : 515px) {
/* стили для малого смартфона */
.search-table {
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 288px;
    margin: 30px auto 0;

    background-color: #F5F6F7;
  }
}