.lead__title {
    display: flex;
    width: 782px;
    height: 184px;
    text-align: center;
    line-height: 94px;
    font-size: 96px;
    margin: 0px auto;
    
    font-family: 'Inter';
    font-weight: 900;
}

@media screen and (max-width : 1024px) {
    /* стили для нетбуков */
    .lead__title {
        width: 90%;
    }
}

@media screen and (max-width : 1000px){
    .lead__title {
        min-width: 100%;
    }
}

@media screen and (max-width : 673px) and (min-width : 376px){
    .lead__title  {
        justify-content: center;
        min-width: 360px;
        margin: 0 auto;
        height: auto;
        text-align: center;
        line-height: 44px;
        font-size: 40px;
    }
}

@media screen and (max-width : 375px) {
    /* стили для среднего смартфона */
    .lead__title {
        min-width: 70%;
        line-height: 43px;
        font-size: 40px;
    }
}

@media screen and (max-width : 320px) {
    /* стили для среднего смартфона */
    .lead__title {
        margin-left: 20px;
    }
}