.lead__route {
    display: block;
    position: relative;
    top: 127px;
    width: 95%;
    margin: 0px auto;
    z-index: 2;
}


@media screen and (max-width : 1024px) {
    /* стили для нетбуков */
    .lead__route {
        top: 140px;
    }
}

@media screen and (max-width : 768px){
    .lead__route {
        top: 95px;
    }
}

@media screen and (max-width : 673px){
    .lead__route {
        top: 0;
    }
}

@media screen and (max-width : 500px){
    .lead__route {
        top: 85px;
    }
}

@media screen and (max-width : 375px) {
    /* стили для среднего смартфона */
    .lead__route {
        top: -12px;
        left: -2px;
    }
}

@media screen and (max-width : 320px) {
    /* стили для малого смартфона */
    .lead__route {
        top: -5px;
        left: 1px;
    }
}