.additional__card_title {
    position: relative;
    top: 10%;
    overflow: hidden;
    width: 248px;
    height: 60px;
    margin: 0 auto;
    z-index: 2;
    line-height: 29px;
    font-size: 27px;

    font-family: Inter;
    font-weight: 900;
}

.additional__card_picture:hover + .additional__card_title {
    transition: line-height 2s ease-out;
    line-height: 250px;
}

.additional__card_title:hover {
    transition: opacity 1s ease-out;
    opacity: 0.7;
}


@media screen and (max-width : 1200px) and (min-width : 1024px) {
    /* стили для нетбуков */
    .additional__card_title {
        left: 16px;
        line-height: 26px;
        font-size: 24px;
    }
}

@media screen and (max-width : 1023px) and (min-width : 900px) {
    .additional__card_title {
        left: 16px;
        top: 15%;
        width: 90%;
        font-size: 27px;
    }
}

@media screen and (max-width : 901px) and (min-width : 769px) {
    .additional__card_title {
        top: 10%;
    }
}

@media screen and (max-width : 767px) and (min-width : 701px) {
    .additional__card_title {
        top: 15%;
        left: 0%;
        width: 80%;
        height: 90px;
        line-height: 46px;
        font-size: 42px;
    }
}

@media screen and (max-width : 700px) and (min-width : 621px) {
    .additional__card_title {
        top: 50px;
        left: 0%;
        width: 80%;
        height: 90px;
        line-height: 46px;
        font-size: 42px;
    }
}
@media screen and (max-width : 620px) and (min-width : 376px) {
    .additional__card_title {
        top: 50px;
        left: 0%;
        width: 80%;
        height: 90px;
        line-height: 26px;
        font-size: 24px;
    }
}

@media screen and (max-width : 375px) {
    .additional__card_title {
        line-height: 26px;
        font-size: 24px;
    }
}
