.commit-history__button {
    display: none;
}

@media screen and (max-width : 435px) {
.commit-history__button {
  display: block;
  width: 288px;
  height: 56px;
  margin: 24px auto 0;
  border: 1px solid #1A1B22;
  background-color:#F5F6F7;
  border-radius: 28px;
  cursor: pointer;
  cursor: hand;


  font-family:'Roboto';
  font-weight: medium;
  color: #1A1B22;
  font-size: 1.125em;
}

.commit-history__button:hover {
    background-color:#ffffff;
  }
}