@import url('__navigation/header__navigation.css');
@import url('__span/header__span.css');
@import url('__page-title/header__page-title.css');

.header__mark-container {
  display: flex;
  flex-direction: row;
  width: 86%;
  margin: 40px auto 0;

  line-height: 24px;
}

@media screen and (max-width : 768px) {
.header__mark-container {
    width: 90%;
    margin: 32px auto 0;
  }
}

@media screen and (max-width : 320px) {
.header__mark-container {
    display: none;
  }
}
