.video__title {
    position: absolute;
    bottom: 57px;
    width: 322px;
    height: 73px;
    line-height: 39px;
    font-size: 36px;
    margin: 0 30px;
    z-index: 4;
    
    font-family: 'Inter';
    font-weight: 900;
}


@media screen and (max-width : 1024px) {
    /* стили для нетбуков*/
    .video__title {
        bottom: calc(72/323*100%);
    }
}

@media screen and (max-width : 768px) {
    /* стили для планшета */
    .video__title {
        bottom: 2px;
        line-height: 26px;
        font-size: 24px;
        margin: 0 0 0 24px;
    }
}

@media screen and (max-width : 767px) and (min-width : 671px){
    /* стили для планшета */
    .video__title {
        bottom: 19%;
        line-height: 35px;
        font-size: 32px;
    }
}

@media screen and (max-width : 670px) and (min-width : 376px){
    /* стили для планшета */
    .video__title {
        bottom: 6%;
    }
}

@media screen and (max-width : 375px) {
    .video__title {
        top: 129px;
    }
}

@media screen and (max-width : 320px) {
    .video__title {
        top: 129px;
        margin: 0 0 0 16px;
    }
}