.video__play {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 0;
    z-index: 4;
}

.video__play:hover {
    opacity: 0.7;
}

@media screen and (max-width : 1024px) {
    .video__play {
        top: 30px;
        left: 30px;
    }
}

@media screen and (max-width : 768px) {
    /* стили для планшета */
    .video__play {
        top: 25px;
        left: 24px;
    }
}

@media screen and (max-width : 767px) {
    .video__play {
        left: 32x;
    }
}

@media screen and (max-width : 320px) {
    .video__play {
        top: 17px;
        left: 16px;
    }
}

