.lead__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: auto;
    font-size: 10px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    
    font-family: 'Inter';
    font-style: normal;
}


@media screen and (max-width : 768px) {
    /* стили для планшета */
    .lead__caption {
        left: 3%;
    }
}

@media screen and (max-width : 673px) {
    .lead__caption {
        left: 4.7%;
        bottom: -20px;
    }
}

@media screen and (max-width : 375px) {
    /* стили для среднего смартфона */
    .lead__caption {
        left: 16px;
        bottom: 0px;
    }
}