.logo-link {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */

  font-family:'Roboto Slab';
  font-weight: bold;
  color: #1A1B22;
  font-size: 1.25em;
  text-decoration: none;
}


@media screen and (max-width : 768px) {
.logo-link {
    font-size: 1.25em;
  }
}

@media screen and (max-width : 420px) {
/* стили для малого смартфона */
.logo-link {
    font-size: 1em;
  }
}