.developer__cv {
  font-family:'Roboto';
  font-weight: normal;
  color: #1A1B22;
  font-size: 1.125em;
  line-height: 22px;

  margin: 12px auto 0;
}

@media screen and (max-width : 875px) {
  .developer__cv {
    min-width: 100%;
  }
}

@media screen and (max-width : 768px) {
.developer__cv:first-child {
    width: 100%;
  }

.developer__cv:nth-of-type(2) {
    width: 100%;
    margin: 0px 0 4px 0;
  }
}

@media screen and (max-width : 320px) {
.developer__cv {
    min-width: 288px;
  }
}