.slider__email {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 0.875em;
  color:  #1A1B22;
  line-height: 24px;
  margin: 0;
}

@media screen and (max-width : 990px) {
  .slider__email {
    font-size: 0.875em;
    line-height: 22px;
  }
}