.places-url__website {
    font-size: 18px;
    letter-spacing: 0em;
    color: #ffffff;
    border-bottom: 1px solid #fff;

    font-family: 'Inter';
    font-weight: normal;
}

.places-url__website:hover {
    opacity: 0.7;
}