@import url('_display-none/search__button-open-more_display-none.css');

.search__button-open-more {
  font-family:'Roboto';
  font-weight: 500;
  color: #1A1B22;
  font-size: 1.125em;

  background-color: #ffffff;
  border-radius: 32px;
  border: none;
  outline: none;
  cursor: pointer;

  min-width: 240px;
  width: 20%;
  padding: 22px 0;
  margin: 64px auto 0px;
}

.search__button-open-more:hover {
  background-color: #E5E5E5;
}

@media screen and (max-width : 768px) {
.search__button-open-more {
    padding: 18px 0;
    border-radius: 28px;
    margin: 32px auto 0px;
  }
}

@media screen and (max-width : 515px) {
/* стили для малого смартфона */
.search__button-open-more {
    min-width: 288px;
    margin: 13px auto 0px;
    border-radius: 28px;
  }
}