.header-about {
  margin-bottom: 96px;
}

@media screen and (max-width : 768px) {
.header-about {
    margin-bottom: 50px;
  }
}

@media screen and (max-width : 320px) {
.header-about {
    margin-bottom: 30px;
  }
}