.header-index {
  height: 576px;
  background: url('../../images/header/main_header_background.png') no-repeat center;
  margin: 0 auto;
}

@media screen and (max-width : 768px) {
.header-index  {
    height: 400px;
    background: url('../../images/header/main_header_background_ipad.png') no-repeat center;
  }
}

@media screen and (max-width : 320px) {
/* стили для малого смартфона */
.header-index  {
    height: 536px;
    background: url('../../images/header/main_header_background_iphone_se.png') no-repeat center;
  }
}
