@import url('__title/lead__title.css');
@import url('__subtitle/lead__subtitle.css');
@import url('__route/lead__route.css');
@import url('__caption/lead__caption.css');

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 984px;
    height: 943px;
    margin: 0px auto;
    background: url('../../images/lead/kalegin-michail-okno-poezda.jpg') no-repeat;
    background-position: 0px 365px;
    background-size: 100%;
}


@media screen and (max-width : 1024px) {
    /* стили для нетбуков */
    .lead {
        width: 928px;
        height: 945px;
        background-position: 0px 365px;
        background-size: 92vw 554px, contain;
    }
}

@media screen and (max-width : 1000px) {
    .lead {
        width: 100%;
        background-size: 100vw;
    }
}

@media screen and (max-width : 768px){
    .lead {
        max-width: 100vw;
        height: 813px;
        background-position: 0px 365px;
        background-size: 100vw 420px, contain;
    }
}

@media screen and (max-width : 673px) {
    .lead {
        width: 100%;
        height: 412px;
        background-position: 0px 130px;
        background-size: 100vw 300px, cover;
    }
}

@media screen and (max-width : 550px) {
    .lead {
        background-position: 0px 164px;
    }
}

@media screen and (max-width : 375px) {
    /* стили для среднего смартфона */
    .lead {
        background-position: 0px 180px;
        background-size:  375px 211px;
    }
}

@media screen and (max-width : 320px) {
    /* стили для малого смартфона */
    .lead {
        width: 320px;
        min-width: 320px;
        background: url('../../images/lead/small-kalegin-michail-okno-poezda.jpg') no-repeat;
        background-position: 0px 182px;
        background-size:  320px 211px;
    }
}