@import url('../__value/search-analitics__value.css');

.search-analitics__data {
  width: 100%;

  font-family: 'Roboto';
  font-weight: normal;
  font-size: 0.75em;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: #ffffff;
}
