@import url('../__results-title/search__results-title.css');
@import url('../__analitics-link/search__analitics-link.css');

.search__header-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 86%;
  margin: 64px auto 48px;
}

@media screen and (max-width : 768px) {
.search__header-container {
    min-width: 90%;
    margin: 40px auto 0;
  }
}

@media screen and (max-width : 595px) {
.search__header-container {
    flex-direction: column;
  }
}

@media screen and (max-width : 515px) {
.search__header-container {
    width: 288px;
  }
}

@media screen and (max-width : 320px) {
/* стили для малого смартфона */
.search__header-container {
    width: 100%;

    margin: 0;
  }
}