.lead__subtitle {
    width: 583px;
    height: 65px;
    text-align: center;
    line-height: 36px;
    font-size: 30px;
    margin: 40px auto 75px;
        
    font-family: 'Inter';
    font-style: normal;
}


@media screen and (max-width : 1024px) {
    /* стили для нетбуков */
    .lead__subtitle {
        margin-top: 35px;
    }
}

@media screen and (max-width : 768px){
    .lead__subtitle {
        width: 87%;
        margin-top: 38px;
    }
}

@media screen and (max-width : 767px) {
    .lead__subtitle  {
        width: 70%;
    }
}

@media screen and (max-width : 673px){
    .lead__subtitle  {
        line-height: 25px;
        font-size: 24px;
        margin: 8px auto 75px;
    }
}

@media screen and (max-width : 500px) and (min-width : 376px) {
    .lead__subtitle  {
        width: 70%;
        line-height: 23px;
        font-size: 16px;
        margin: 8px auto 10px;
    }
}

@media screen and (max-width : 375px) {
    /* стили для среднего смартфона */
    .lead__subtitle {
        width: 80%;
        margin-top: -83px;
        line-height: 23px;
        font-size: 16px;
        text-align: center;
    }
}


@media screen and (max-width : 320px) {
    .lead__subtitle {
        width: 85%;
    }
}
